@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
* {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: lighter;
  background-color: #0b0d17;
  color: #fff;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
@media only screen and (max-width: 992px) {
  nav {
    padding-top: 20px;
  }
}
nav .logo {
  margin-left: 55px;
}
@media only screen and (max-width: 768px) {
  nav .logo {
    margin-left: 25px;
  }
}
nav .logo img {
  width: 48px;
  height: 48px;
}
nav .horzNav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  list-style: none;
  width: 55%;
  right: 0;
  padding-left: 25px;
  padding-right: 25px;
}
@media only screen and (max-width: 768px) {
  nav .horzNav {
    display: none;
  }
}
nav .horzNav::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 66px;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81.5485px);
          backdrop-filter: blur(81.5485px);
  z-index: 0;
}
nav .horzNav::after {
  position: absolute;
  content: "";
  width: 300px;
  height: 1px;
  background-color: #fff;
  left: -280px;
  opacity: 0.2;
}
@media only screen and (max-width: 992px) {
  nav .horzNav::after {
    display: none;
  }
}
nav .horzNav li {
  position: relative;
  counter-increment: liCounter;
}
nav .horzNav li::before {
  position: absolute;
  counter-increment: a;
  content: counter(liCounter) ".";
  content: counter(liCounter, decimal-leading-zero);
  font-weight: bold;
  left: -20px;
  background: linear-gradient(to right, transparent 2em, currentColor 2em);
}
nav .horzNav li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
nav .horzNav li.active::after, nav .horzNav li:hover::after {
  position: absolute;
  content: "";
  width: calc(100% + 35px);
  height: 2px;
  background-color: white;
  bottom: -23px;
  right: -8px;
}
nav .horzNav li:not(.active)::after {
  opacity: 0.6;
}
nav .menuBtn {
  display: none;
  font-size: 24px;
  margin-right: 55px;
  z-index: 5;
}
nav .menuBtn a {
  color: #fff;
}
@media only screen and (max-width: 768px) {
  nav .menuBtn {
    display: block;
    margin-right: 25px;
  }
}
nav .vertNav {
  position: absolute;
  min-height: 100%;
  width: 60%;
  top: 0px;
  right: 0;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81.5485px);
          backdrop-filter: blur(81.5485px);
  list-style: none;
  padding-top: 80px;
  padding-left: 40px;
  display: none;
  flex-direction: column;
  gap: 20px;
}
nav .vertNav.active {
  display: flex !important;
}
@media only screen and (min-width: 767px) {
  nav .vertNav.active {
    display: none !important;
  }
}
nav .vertNav li {
  position: relative;
  counter-increment: liCounter;
}
nav .vertNav li::before {
  position: absolute;
  counter-increment: a;
  content: counter(liCounter) ".";
  content: counter(liCounter, decimal-leading-zero);
  font-weight: bold;
  left: -20px;
  background: linear-gradient(to right, transparent 2em, currentColor 2em);
}
nav .vertNav li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
nav .vertNav li.active::after, nav .vertNav li:hover::after {
  color: red;
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  background-color: #fff;
  right: 0;
  top: 0;
}
nav .vertNav li:not(.active)::after {
  opacity: 0.6;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  background-color: #0b0d17;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/imgs/home/background-desktop.jpg);
}
@media only screen and (max-width: 992px) {
  #home {
    background-image: url(/imgs/home/background-tablet.jpg);
    background-position: bottom;
  }
}
@media only screen and (max-width: 768px) {
  #home {
    background-image: url(/imgs/home/background-mobile.jpg);
    background-position: bottom;
  }
}
#home .container {
  bottom: 0;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 25% 75%;
}
@media only screen and (max-width: 992px) {
  #home .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex: 1;
  }
}
#home .container .text h2 {
  color: #d0d6f9;
  font-weight: normal;
  letter-spacing: 4px;
  font-size: 16px;
  text-transform: uppercase;
}
#home .container .text h1 {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 96px;
}
#home .container .text h1 + p {
  color: #d0d6f9;
  max-width: 420px;
}
@media only screen and (max-width: 992px) {
  #home .container .text {
    flex: 1;
    padding-top: 25%;
    text-align: center;
  }
}
#home .container .exploreBtn {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#home .container .exploreBtn a {
  background-color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Bellefair", serif;
  padding: 100px 43.5px;
  font-weight: normal;
  border-radius: 100%;
  font-size: 32px;
  color: #0b0d17;
}
#home .container .exploreBtn a:hover {
  outline: 40px solid hsla(0deg, 0%, 10%, 0.8);
}

#destination {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  min-height: 100vh;
  background-color: #0b0d17;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/imgs/destination/background-desktop.jpg);
}
@media only screen and (max-width: 992px) {
  #destination {
    background-image: url(/imgs/destination/background-tablet.jpg);
    background-position: bottom;
  }
}
@media only screen and (max-width: 768px) {
  #destination {
    background-image: url(/imgs/destination/background-mobile.jpg);
    background-position: bottom;
  }
}
#destination .container {
  padding-bottom: 20px;
}
#destination .container h2 {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media only screen and (max-width: 992px) {
  #destination .container h2 {
    margin-bottom: 50px;
    text-align: center;
  }
}
#destination .container h2 span {
  font-weight: bold;
  color: rgb(84, 84, 84);
  padding-right: 5px;
}
#destination .container .destContent {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10%;
}
@media only screen and (max-width: 992px) {
  #destination .container .destContent {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
#destination .container .destContent .image img {
  position: relative;
  width: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 992px) {
  #destination .container .destContent .image img {
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 992px) {
  #destination .container .destContent .text {
    text-align: center;
  }
}
#destination .container .destContent .text .destUl {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
@media only screen and (max-width: 992px) {
  #destination .container .destContent .text .destUl {
    justify-content: space-evenly;
    margin-bottom: 50px;
  }
}
#destination .container .destContent .text .destUl li {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #d0d6f9;
  cursor: pointer;
}
#destination .container .destContent .text .destUl li.active, #destination .container .destContent .text .destUl li:hover {
  color: #fff;
  position: relative;
}
#destination .container .destContent .text .destUl li.active::before, #destination .container .destContent .text .destUl li:hover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: -10px;
  left: 0;
  background-color: #fff;
}
#destination .container .destContent .text .destName {
  margin-top: 30px;
  font-family: "Bellefair", serif;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 100;
}
@media only screen and (max-width: 992px) {
  #destination .container .destContent .text .destName {
    margin-bottom: 10px;
  }
}
#destination .container .destContent .text .destDescription {
  color: #d0d6f9;
  width: 100%;
  line-height: 1.6;
}
#destination .container .destContent .text .destNums {
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px solid #d0d6f9;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
@media only screen and (max-width: 992px) {
  #destination .container .destContent .text .destNums {
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    padding-top: 30px;
  }
}
#destination .container .destContent .text .destNums h5 {
  font-weight: 100;
  color: #d0d6f9;
  text-transform: uppercase;
}
#destination .container .destContent .text .destNums h1 {
  font-family: "Bellefair", serif;
  font-weight: 100;
  font-size: 36px;
  margin-top: 10px;
}/*# sourceMappingURL=main.css.map */