#destination {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  min-height: 100vh;
  background: {
    color: $xblack;
    size: cover;
    repeat: no-repeat;
    image: url(/imgs/destination/background-desktop.jpg);
  }
  @include respond(tablet) {
    background-image: url(/imgs/destination/background-tablet.jpg);
    background-position: bottom;
  }
  @include respond(mobile) {
    background-image: url(/imgs/destination/background-mobile.jpg);
    background-position: bottom;
  }
  .container {
    max-width: 100%;
    padding-bottom: 20px;
    h2 {
      @include respond(tablet) {
        margin-bottom: 50px;
        text-align: center;
      }
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 3px;
      span {
        font-weight: bold;
        color: rgb(84, 84, 84);
        padding-right: 5px;
      }
    }
    .destContent {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 45% 45%;
      gap: 10%;
      @include respond(tablet) {
        display: flex;
        flex-direction: column;
        gap: 50px;
      }
      .image {
        img {
          position: relative;
          width: 65%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include respond(tablet) {
            position: relative;
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      .text {
        @include respond(tablet) {
          text-align: center;
        }
        .destUl {
          list-style: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 30px;
          @include respond(tablet) {
            justify-content: space-evenly;
            margin-bottom: 50px;
          }
          li {
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $xColor;
            cursor: pointer;
            &.active,
            &:hover {
              color: #fff;
              position: relative;
              &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 4px;
                bottom: -10px;
                left: 0;
                background-color: #fff;
              }
            }
          }
        }
        .destName {
          margin-top: 30px;
          font-family: $belfair;
          font-size: 100px;
          text-transform: uppercase;
          font-weight: 100;
          @include respond(tablet) {
            margin-bottom: 10px;
            font-size: 70px;
          }
        }
        .destDescription {
          color: $xColor;
          width: 100%;
          line-height: 1.6;
        }
        .destNums {
          padding-top: 10px;
          margin-top: 20px;
          border-top: 1px solid $xColor;
          display: flex;
          flex-direction: row;
          gap: 50px;
          @include respond(tablet) {
            flex-direction: column;
            gap: 30px;
            margin-top: 30px;
            padding-top: 30px;
            // justify-content: space-evenly;
          }
          h5 {
            font-weight: 100;
            color: $xColor;
            text-transform: uppercase;
          }
          h1 {
            font-family: $belfair;
            font-weight: 100;
            font-size: 36px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
