#home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  background: {
    color: $xblack;
    size: cover;
    repeat: no-repeat;
    image: url(../imgs/home/background-desktop.jpg);
  }

  @include respond(tablet) {
    background-image: url(../imgs/home/background-tablet.jpg);
    background-position: bottom;
    justify-content: normal;
  }
  @include respond(mobile) {
    background-image: url(../imgs/home/background-mobile.jpg);
    background-position: bottom;
  }
  .container {
    bottom: 0;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 25% 75%;
    @include respond(tablet) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      flex: 1;
      flex: 0 !important;
    }
    @include respond(mobile) {
    }
    .text {
      h2 {
        color: $xColor;
        font-weight: normal;
        letter-spacing: 4px;
        font-size: 16px;
        text-transform: uppercase;
      }
      h1 {
        font-family: $belfair;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 96px;
        & + p {
          color: $xColor;
          max-width: 420px;
        }
      }
      @include respond(tablet) {
        flex: 1;
        padding-top: 25%;
        text-align: center;
      }
    }
    .exploreBtn {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      a {
        background-color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: $belfair;
        padding: 100px 43.5px;
        font-weight: normal;
        border-radius: 100%;
        font-size: 32px;
        color: $xblack;
        &:hover {
          outline: 40px solid hsl(0deg 0% 10% / 80%);
        }
      }
    }
  }
}
