nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  z-index: 999;
  @include respond(tablet) {
    padding-top: 20px;
  }
  .logo {
    margin-left: 55px;
    @include respond(mobile) {
      margin-left: 25px;
    }
    img {
      width: 48px;
      height: 48px;
    }
  }
  .horzNav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    list-style: none;
    width: 55%;
    right: 0;
    padding-left: 25px;
    padding-right: 25px;
    @include respond(mobile) {
      display: none;
    }
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 66px;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(81.5485px);
      z-index: 0;
    }
    &::after {
      position: absolute;
      content: "";
      width: 300px;
      height: 1px;
      background-color: #fff;
      left: -280px;
      opacity: 0.2;
      @include respond(tablet) {
        display: none;
      }
    }
    li {
      position: relative;
      counter-increment: liCounter;
      &::before {
        position: absolute;
        counter-increment: a;
        content: counter(liCounter) ".";
        content: counter(liCounter, decimal-leading-zero);
        font-weight: bold;
        left: -20px;
        background: linear-gradient(
          to right,
          transparent 2em,
          currentColor 2em
        );
      }
      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
      }
      &.active::after,
      &:hover::after {
        position: absolute;
        content: "";
        width: calc(100% + 35px);
        height: 2px;
        background-color: white;
        bottom: -23px;
        right: -8px;
      }
      &:not(.active)::after {
        opacity: 0.6;
      }
    }
  }
  .menuBtn {
    display: none;
    font-size: 24px;
    margin-right: 55px;
    z-index: 5;
    a {
      color: #fff;
      cursor: pointer;
    }
    @include respond(mobile) {
      display: block;
      margin-right: 25px;
    }
  }
  .vertNav {
    position: absolute;
    min-height: 100%;
    width: 60%;
    top: 0px;
    right: 0;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    list-style: none;
    padding-top: 80px;
    padding-left: 40px;
    display: none;
    flex-direction: column;
    gap: 20px;
    &.active {
      display: flex !important;
      @include respond(mobilemin) {
        display: none !important;
      }
    }
    li {
      position: relative;
      counter-increment: liCounter;
      &::before {
        position: absolute;
        counter-increment: a;
        content: counter(liCounter) ".";
        content: counter(liCounter, decimal-leading-zero);
        font-weight: bold;
        left: -20px;
        background: linear-gradient(
          to right,
          transparent 2em,
          currentColor 2em
        );
      }
      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
      }
      &.active::after,
      &:hover::after {
        color: red;
        position: absolute;
        content: "";
        width: 5px;
        height: 100%;
        background-color: #fff;
        right: 0;
        top: 0;
      }
      &:not(.active)::after {
        opacity: 0.6;
      }
    }
  }
}
